*,
::after,
::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  border: 2px solid black;
  display: grid;
}

main {
  width: 450px;
  border: 2px solid black;
  padding: 2em;
  margin: auto;
  align-content: center;
  display: flex;
  justify-content: space-between;
}

.userForm__container {
  ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 1em;
  }

  li {
    display: flex;
    flex-direction: column;
  }
}

.progress__container {
  .progress__progressCircle {
    background-color: lightblue;
    width: 50px;
    height: 50px;
  }

  .progressCircle__bar {
  }
  .progressCircle__percent h4 {
    padding-block: 1em;
  }

  ul {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    gap: 0.5em;
    background-color: rgba(128, 128, 128, 0.156);
    border-radius: 2em;
    padding: 1.5em;
    font-size: 0.75rem;
    height: 200px;
  }
}
